.recipeList {
    background-color: #000;
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    position: absolute;
}

.recipeList li {
    padding: 5px 5px 5px 0px;
}

.recipeList a {
    color: #fff;
    text-decoration: none;
}